<br/>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
    <tbody>
    <% @au.each do |a|  %>
    <tr>
      <th scope="row"> <%= a.id %> </th>
      <td> <%= a.fname %> </td>
      <td> <%= a.lname %> </td>
    </tr>
    <% end %>
    </tbody>
</table>